#buttons-view button,
div,
#buttons-view input {
  margin-right: 0.3125rem;
  margin-bottom: 0.3125rem;
  margin-top: 0.3125rem;
}

img.gif-style {
  height: 200px;
  margin-bottom: 20px;
}

.card {
  max-width: 15.625rem;
}

.card {
  margin: 0.625rem auto;
}